.box__main__login {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  @include BorderRadius(36px);
  max-width: 100%;
  width: 70%;

  overflow: hidden;

  .box__login__right {
    width: 50%;

    &__inner {
      width: 100%;
      @include BorderRadius(36px);
      background-color: rgba(255, 255, 255, 1);
      padding: 40px 50px;

      .header__box {
        margin-bottom: 40px;

        .header__hello {
          @include FontSize(28);
          font-weight: 700;
          margin-bottom: 20px;

          .name__page {
            color: #42c636;
          }
        }

        .header__title {
          color: rgba(51, 51, 51, 0.6);
          line-height: 20px;
          font-weight: 500;
        }
      }

      .box__form__info {
        .form__info {
          .box__form__main__group {
            margin: 20px 0;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .box__form__error {
              margin-left: 22px;

              &.error {
                .list__error {
                  list-style: circle;

                  .error-msg {
                    color: red;
                    @include FontSize(14);
                  }
                }
              }
            }
          }
          .form__input__group {
            display: flex;
            align-items: center;
            background-color: #edf4fb;
            padding: 10px 30px;
            @include BorderRadius(8px);
            color: rgba(51, 51, 51, 0.7);
            margin: 20px 0;
            width: 100%;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .icon_input {
              @include FontSize(24);
            }

            .input__infor {
              padding-left: 10px;
              border: none;
              background: none;
              outline: none;
              color: rgba(51, 51, 51, 0.7);
              width: 100%;

              &::placeholder {
                color: rgba(51, 51, 51, 0.7);
                font-weight: 500;
                font-style: italic;
              }
            }
          }

          .form__btn__group {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .box__button {
              overflow: hidden;
              position: relative;
              cursor: pointer;
              @include WidthHeight(130px, 50px);
              @include BorderRadius(36px);
              border: 3px solid #42c636;
              @include FontSize(16);
              font-weight: 600;
              color: rgb(51, 51, 51, 0.8);
              display: inline-flex;
              align-items: center;
              justify-content: center;

              &:hover {
                .inner__slide {
                  left: 0;
                }

                a {
                  left: 150px;
                }
              }

              a {
                position: relative;
                left: 0;
                transition: all 0.35s ease-Out;
                color: rgb(51, 51, 51, 0.8);
              }

              .inner__slide {
                @include WidthHeight(100%, 100%);
                left: -200px;
                position: absolute;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.35s ease-Out;
                bottom: 0;
                background-color: #42c636;

                .icon__slide__btn {
                  @include FontSize(20);
                  color: #fff;
                }
              }
            }

            // .btn__submit {
            //     padding: 16px 35px;
            //     border: 2px solid #42C636;
            //     @include BorderRadius(36px);
            //     @include FontSize(16);
            //     font-weight: 600;
            //     background: none;
            //     // background-color: #42C636;
            //     color: rgb(51, 51, 51, 0.8);
            //     overflow: hidden;
            //     position: relative;
            // }
          }
        }

        .box__register {
          margin: 30px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .text {
            @include FontSize(15);
            color: rgba(51, 51, 51, 0.6);
          }

          .link__res {
            font-weight: 700;
            color: #42c636;
          }
        }

        .box__hr {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 0 0 20px;

          p {
            @include FontSize(16);
            font-weight: 700;
            color: rgba(51, 51, 51, 0.6);
            position: relative;
            padding: 0 70px;

            &:after {
              content: "";
              position: absolute;
              width: 60px;
              height: 1px;
              background-color: rgba(51, 51, 51, 0.4);
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }

            &:before {
              content: "";
              position: absolute;
              width: 60px;
              height: 1px;
              background-color: rgba(51, 51, 51, 0.4);
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }

        .login__other {
          display: flex;
          justify-content: center;

          .wrapper__list {
            display: inline-flex;
            list-style: none;

            .icon {
              position: relative;
              background: rgb(66, 198, 54, 0.2);
              border-radius: 50%;
              padding: 15px;
              margin: 10px;
              width: 50px;
              height: 50px;
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
              cursor: pointer;
              transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

              &:hover {
                // span,
                // .tooltip {
                //     text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
                // }

                // .tooltip {
                //     top: -45px;
                //     opacity: 1;
                //     visibility: visible;
                //     pointer-events: auto;
                // }

                .icon_other {
                  color: rgba(51, 51, 51, 1);
                }
              }

              .tooltip {
                position: absolute;
                top: 0;
                font-size: 14px;
                background: #ffffff;
                color: #ffffff;
                padding: 5px 8px;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                &:before {
                  position: absolute;
                  content: "";
                  height: 8px;
                  width: 8px;
                  background: #ffffff;
                  bottom: -3px;
                  left: 50%;
                  transform: translate(-50%) rotate(45deg);
                  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
              }

              .icon_other {
                color: rgba(51, 51, 51, 0.6);
              }
            }

            .facebook:hover,
            .facebook:hover .tooltip,
            .facebook:hover .tooltip::before {
              background: #1877f2;
              color: #ffffff;
            }

            .google:hover,
            .google:hover .tooltip,
            .google:hover .tooltip::before {
              background: #f05545;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .box__login__left {
    position: relative;
    width: 50%;

    .header__text__box {
      text-align: center;
      max-width: 100%;
      width: 70%;
      margin: 100px auto 0;

      .slogan {
        @include FontSize(32);
        font-weight: 700;
        line-height: 40px;
        color: rgba(51, 51, 51, 0.6);
      }

      .text__register {
        @include FontSize(18);
      }
    }

    .box__image__fish {
      position: absolute;
      @include WidthHeight(450px, auto);
      // top: 80%;
      // left: 50%;
      left: 80px;
      bottom: 0;

      img {
        @include WidthHeight(100%, 100%);
        object-fit: contain;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: pointer;

        &:hover {
          transform: scale(1.3);
        }
      }
    }

    .box__footer__wave {
      position: absolute;
      bottom: 0;

      .box__wave {
        @include WidthHeight(100%, 150px);

        .waves {
          position: relative;
          width: 100%;
          height: 100%;
          margin-bottom: -7px;
          /*Fix for safari gap*/
          min-height: 100px;
          max-height: 150px;

          .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
              infinite;
          }

          .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
          }

          .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
          }

          .parallax > use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
          }

          .parallax > use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
          }
        }
      }
    }
  }
}
