.BlogMePublic {
  .handleBarBlog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .boxSearch {
      display: flex;
      align-items: center;
      padding: 10px 14px;
      .ic_search {
        @include WidthHeight(18px, 18px);
      }
      .inputSearch {
        background: transparent;
        border: none;
        outline: none;
        padding-left: 8px;
        color: white;
        width: 160px;
      }
    }

    .listHandle {
      display: flex;
      align-items: center;

      .itemHandle {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        .boxBtnHandle {
          display: flex;
          align-items: center;
          padding: 16px 14px;
          transition: all 0.2s linear;
          cursor: pointer;

          &:hover {
            background-color: rgba(66, 198, 54, 0.2);
            color: $green-main;
          }

          .ic_handle {
            @include WidthHeight(18px, 18px);
            margin-right: 12px;
          }
          .textHandle {
            @include FontSize(16px);
            font-weight: 500;
          }
        }
      }
    }
  }

  .listBlog {
    .itemblog {
      margin-bottom: 30px;
    }
  }
}
