.box__popup__campaign__content {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;

  .box__content__inner {
    padding: 60px 40px;
    @include BorderRadius(16px);
    background-color: #546166;

    .box__item__grid {
      width: 520px;

      &.box__item__left {
        .title {
          color: #7af96f;
          font-weight: 700;
          @include FontSize(28);
        }

        .description {
          margin: 30px 0;
          color: #cccccc;
          font-weight: 400;
          @include FontSize(16);
          line-height: 30px;
        }

        .box__timeline {
          .col__inner--left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .box__user {
              background: rgba(255, 255, 255, 0.12);
              padding: 12px;
              @include BorderRadius(50px);
              color: #cccccc;
              font-weight: 700;
              @include FontSize(14);
              margin-bottom: 16px;

              .quantity_user {
                color: #ffffff;
                font-weight: 700;
                @include FontSize(18);
                margin-left: 5px;
              }
            }

            .list__join__user {
              .item__join__user {
                display: flex;
                align-items: center;
                margin: 12px 0;

                &:first-child {
                  margin-top: 0;
                }

                &:last-child {
                  margin-bottom: 0;
                }

                img {
                  background-color: rgba(0, 0, 0, 0.1);
                  @include WidthHeight(40px, 40px);
                  object-fit: cover;
                  @include BorderRadius(50%);
                  margin-right: 10px;
                }

                .name {
                  font-weight: 600;
                  @include FontSize(14);
                  color: #ffffff;
                  opacity: 0.5;
                }
              }
            }
          }

          .col__inner--right {
            width: 100%;
            padding: 24px 14px;
            background: rgb(255, 255, 255, 0.12);
            @include BorderRadius(20px);
            // min-height: 236px;

            .infor__text {
              font-weight: 400;
              @include FontSize(14);
              color: #fff;
              margin: 10px 0;

              &:first-child {
                margin-top: 0;
              }

              &:last-child {
                margin-bottom: 0;
              }

              .title {
                font-weight: 700;
                @include FontSize(17);
                color: #7af96f;
              }
            }
          }
        }
      }

      &.box__item__right {
        .img__main__campaign {
          @include WidthHeight(100%, 420px);
          @include BorderRadius(36px);
          object-fit: cover;
          margin-bottom: 20px;
        }

        .box__main__time {
          .thu {
            font-weight: 700;
            @include FontSize(24);
            margin-bottom: 20px;
            color: #7af96f;
          }

          .date {
            font-weight: 700;
            @include FontSize(18);
            color: #ffffff;
            margin-right: 40px;
          }

          .time {
            font-weight: 400;
            @include FontSize(18);
            color: #ccc;
          }
        }

        .btn__join__campaign {
          width: 100%;
          background: #7af96f;
          color: #333333;
          font-weight: 700;
          @include FontSize(16);
          padding: 16px 14px;
          border: none;
          @include BorderRadius(36px);
          position: relative;
          transform-style: preserve-3d;
          opacity: 0.5;
          transition: all 0.2s linear;

          &:hover {
            opacity: 1;
          }

          // &:after {
          //     content: "";
          //     position: absolute;
          //     @include WidthHeight(0%, 0%);
          //     background-color: #fff;
          //     top: 4px;
          //     left: -4px;
          //     @include BorderRadius(36px);
          //     transform: translateZ(-1px);
          // }
        }
      }
    }
  }

  .btn__close__popup {
    position: absolute;
    top: 20px;
    right: 60px;
    @include WidthHeight(46px, 46px);
    @include BorderRadius(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.2s linear;

    &:hover {
      background: rgb(255, 255, 255, 0.2);
    }

    .icon__close {
      @include FontSize(28);
      color: $white;
    }
  }
}
