.CreateCampaignView {
  @include WidthHeight(100%, 100vh);
  position: relative;

  .boxCreateInner {
    max-width: 1024px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-main-30;
    @include BorderRadius(16px);
    padding: 30px 40px;
    @include WidthHeight(80%, auto);

    .ic_cancel_campaign {
      position: absolute;
      top: 20px;
      left: 20px;
      @include WidthHeight(24px, 24px);
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        color: $green-main;
      }
    }

    .boxTimelineCreate {
      .ListTimeline {
        display: flex;
        align-items: center;
        justify-content: center;

        .itemTimeline {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          &:last-child {
            margin-right: 0px;
          }

          &.active {
            .boxContent {
              .circle {
                background-color: $green-main;
                color: #fff;
              }
              .content {
                // color: $green-main;
              }
            }

            .line-dot {
              border-top: 2px dashed $green-main;
            }
          }

          .boxContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 118px;
            margin-right: 10px;

            .circle {
              @include WidthHeight(26px, 26px);
              @include BorderRadius(50%);
              display: flex;
              align-items: center;
              justify-content: center;
              @include FontSize(14px);
              font-weight: 600;
              margin-bottom: 10px;
              background-color: $bg-main-30;
            }
            .content {
              text-align: center;
              line-height: 1.2;
              @include FontSize(14);
            }
          }

          .line-dot {
            border: none;
            border-top: 2px dashed #333;
            color: #fff;
            background-color: #fff;
            height: 1px;
            width: 80px;
          }
        }
      }
    }

    .mainShowComponent {
      margin-top: 22px;

      .titleText {
        @include FontSize(18);
        font-weight: bold;
        margin-bottom: 18px;
      }

      .description {
        font-weight: 500;
        @include FontSize(16);
        color: rgba($color: #333, $alpha: 0.7);
        line-height: 1.2;
      }

      .formInforInput {
        margin-top: 20px;

        .box_avater {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            // @include WidthHeight(100%, 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            @include WidthHeight(80px, 80px);
            border: 1px dashed #333;

            .img__avater {
              @include WidthHeight(100%, 100%);
              object-fit: cover;
            }
          }

          .text {
            margin-top: 10px;
            font-weight: 500;
          }
        }

        .boxLineFormAvatar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .nameInput {
            @include FontSize(16);
            font-weight: 600;
            color: rgba($color: #333, $alpha: 1);
          }
        }
      }

      .boxLineForm {
        margin-top: 12px;
        .formGroup {
          color: rgba($color: #333, $alpha: 0.8);

          &.formGroupCustom {
            display: flex;
            align-items: center;

            .nameInput {
              margin-bottom: 0;
            }

            .boxRadio {
              margin-left: 12px;
              display: flex;
              align-items: center;

              label {
                display: flex;
                cursor: pointer;
                font-weight: 500;
                position: relative;
                overflow: hidden;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0;
                }

                input {
                  position: absolute;
                  left: -9999px;
                  &:checked + span {
                    background-color: mix(#fff, $green-main, 84%);
                    &:before {
                      box-shadow: inset 0 0 0 0.4375em $green-main;
                    }
                  }
                }
                span {
                  display: flex;
                  align-items: center;
                  padding: 0.375em 0.75em 0.375em 0.375em;
                  border-radius: 99em; // or something higher...
                  transition: 0.25s ease;
                  &:hover {
                    background-color: mix(#fff, $green-main, 84%);
                  }
                  &:before {
                    display: flex;
                    flex-shrink: 0;
                    content: "";
                    background-color: #fff;
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 50%;
                    margin-right: 0.375em;
                    transition: 0.25s ease;
                    box-shadow: inset 0 0 0 0.125em $green-main;
                  }
                }
              }
            }
          }

          .nameInput {
            @include FontSize(16);
            font-weight: 600;
            margin-bottom: 10px;
            color: rgba($color: #333, $alpha: 1);
          }

          .inputText {
            @include WidthHeight(100%, 42px);
            @include BorderRadius(12px);
            padding: 0 10px;
            background-color: #edf4fb;
            border: 3px solid #dce0e6;
            outline-color: $green-main;
            transition: all 0.2s;
          }

          .textareaInput {
            @include WidthHeight(100%, 100px);
            resize: none;
            background-color: #edf4fb;
            @include BorderRadius(12px);
            border: 3px solid #dce0e6;
            outline-color: $green-main;
            padding: 10px;
          }

          .selectLocation {
            @include WidthHeight(100%, 42px);
            background-color: #edf4fb;
            @include BorderRadius(12px);
            border: 3px solid #dce0e6;
            outline-color: $green-main;
            padding: 0 10px;
          }
          .boxCheckMaxMember {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .boxToggle {
              @include WidthHeight(60px, 24px);
              @include BorderRadius(46px);
              position: relative;
              overflow: hidden;

              .checkbox {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                opacity: 0;
                cursor: pointer;
                z-index: 3;

                &:checked + .knobs:before {
                  content: "";
                  left: 36px;
                  background-color: $green-main;
                }
              }

              .knobs {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;

                &:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 4px;
                  width: 20px;
                  height: 10px;
                  color: #fff;
                  font-size: 10px;
                  font-weight: bold;
                  text-align: center;
                  line-height: 1;
                  padding: 9px 4px;
                  background-color: #f44336;
                  border-radius: 50%;
                  transform: translateY(-50%);
                  transition: 0.3s ease all,
                    left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
                }
              }

              .layer {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #ebf7fc;
                transition: 0.3s ease all;
                z-index: -1;
              }
            }
          }
        }
      }

      .boxButtonHandle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;

        .btnPre {
          margin-right: 20px;
          padding: 10px 22px;
          @include BorderRadius(46px);
          border: none;
          background-color: #f6f6f6;
          transition: all 0.2s;
          color: rgba($color: #333, $alpha: 0.7);
          &:hover {
            color: rgba($color: #333, $alpha: 1);
          }
        }
        .btnContinue {
          padding: 10px 22px;
          @include BorderRadius(46px);
          border: none;
          background-color: $green-main;
          transition: all 0.2s;
          color: #fff;
          &:disabled {
            opacity: 0.6;
          }
          // opacity: 0.7;
          // &:hover {
          //   opacity: 1;
          // }
        }
      }

      @import "../../../components/frontend/campaign/campaign_infor_organize";
    }
  }
}

.CampaignConfirm {
  .boxTextConfirm {
    p {
      @include FontSize(24);
      font-weight: bold;
      line-height: 1.3;
      // color: #191e4e;
    }
  }

  .description_text {
    margin-top: 12px;
    @include FontSize(16);
    line-height: 1.2;
    font-weight: 600;
    color: rgba($color: #333, $alpha: 0.6);
  }

  .boxListConfirm {
    margin-top: 50px;
    .itemConfirm {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .boxIcon {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include BorderRadius(50%);
        background-color: rgb(66, 198, 54, 0.2);
        padding: 6px;

        .ic_check_confirm {
          font-weight: bold;
          @include WidthHeight(24px, 24px);
          color: $green-main;
        }
      }

      .textConfirm {
        @include FontSize(15);
        font-weight: 500;
        line-height: 1.2;
        color: rgba($color: #333, $alpha: 0.8);
      }
    }
  }

  .checkBoxConfirm {
    display: flex;
    align-items: center;
    margin-top: 50px;

    .checkbox {
      --border-default: #bbbbc1;
      --border-hover: #9898a3;
      --active: #42c636;
      --active-tick: #ffffff;
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: relative;
      -webkit-tap-highlight-color: transparent;
      svg {
        display: block;
        position: absolute;
      }
      input {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 36% / 36%;
        box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
        background: var(--background, transparent);
        transition: background 0.25s linear, box-shadow 0.25s linear;
        & + svg {
          width: 21px;
          height: 18px;
          left: 0;
          top: 0;
          color: var(--active);
          .tick {
            stroke-dasharray: 20;
            stroke-dashoffset: var(--stroke-dashoffset, 20);
            transition: stroke-dashoffset 0.2s;
            &.mask {
              stroke: var(--active-tick);
            }
          }
          & + svg {
            width: 11px;
            height: 11px;
            fill: none;
            stroke: var(--active);
            stroke-width: 1.25;
            stroke-linecap: round;
            top: -6px;
            right: -10px;
            stroke-dasharray: 4.5px;
            stroke-dashoffset: 13.5px;
            pointer-events: none;
            animation: var(--animation, none) 0.2s ease 0.175s;
          }
        }
        &:checked {
          --background: var(--active);
          --border: var(--active);
          & + svg {
            --stroke-dashoffset: 0;
            & + svg {
              --animation: check;
            }
          }
        }
      }
      &:hover {
        input {
          &:not(:checked) {
            --border: var(--border-hover);
          }
        }
      }
    }

    .textCheckConfirm {
      margin-left: 10px;
      font-weight: 500;
    }
  }

  .boxButtonHandleConfirm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .backPageConfirm {
      margin-right: 20px;
      padding: 10px 22px;
      @include BorderRadius(46px);
      border: none;
      background-color: #f6f6f6;
      transition: all 0.2s;
      color: rgba($color: #333, $alpha: 0.7);
      &:hover {
        color: rgba($color: #333, $alpha: 1);
      }
    }
    .nextPageConfirm {
      padding: 10px 22px;
      @include BorderRadius(46px);
      border: none;
      background-color: $green-main;
      transition: all 0.2s;
      color: #fff;
      &:disabled {
        opacity: 0.6;
      }
    }
  }

  .boxImageConfirm {
    .imgConfirm {
      @include WidthHeight(100%, auto);
      @include ObjectFit(contain);
    }
  }
}

.boxShowSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 80%;
  margin: 0 auto;

  .icCheckSuccess {
    text-align: center;
    @include WidthHeight(70px, 70px);
    color: #42c636;
    margin-bottom: 16px;
  }
  .textSuccess {
    text-align: center;
    @include FontSize(16);
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  .btnReturnReport {
    @include BorderRadius(46px);
    @include WidthHeight(auto, 38px);
    background: none;
    color: #333;
    padding: 0 20px;
    border: 2px solid #42c636;
    transition: all 0.2s linear;
    &:hover {
      background-color: #42c636;
      color: white;
    }
  }
}
