#boxMainCampaignDetail {
  .container_box {
    margin-top: 20px;
    margin-bottom: 50px;

    .boxBack {
      display: flex;
      align-items: center;
      flex-direction: row;

      .ic_back {
        @include WidthHeight(20px, 20px);
        transition: all 0.2s linear;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          color: $green-main;
        }
      }

      .titlePage {
        font-weight: 500;
      }
    }

    .mainContentCampaign {
      margin-top: 50px;

      .nameCampaign {
        @include FontSize(26);
        font-weight: bold;
      }

      .boxTime {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .boxBtnShare {
          position: relative;

          .btnShare {
            border: 3px solid $green-main;
            background-color: transparent;
            padding: 8px 14px;
            @include BorderRadius(46px);
            transition: all 0.2s linear;

            &:hover {
              background-color: $green-main;
              color: #fff;
            }
          }

          .dropdownShareList {
            position: absolute;
            right: 0;
            background-color: rgb(245, 245, 245);
            color: #333;
            padding: 10px 10px;
            border-radius: 16px;
            box-shadow: 0 0 40px 4px rgb(51 51 51 / 20%);

            .itemShare {
              display: flex;
              flex-direction: row;
              align-items: center;
              color: #333333;
              opacity: 0.5;
              padding: 10px 14px;
              border-radius: 16px;
              transition: all 0.2s linear;
              cursor: pointer;

              &:hover {
                opacity: 0.9;
                background-color: rgba(211, 211, 211, 0.5);
              }
              .ic_item_share {
                margin-right: 10px;
              }
              .nameItem {
                white-space: nowrap;
              }
            }
          }
        }
      }

      .boxImgCampaign {
        @include WidthHeight(100%, 250px);
        @include BorderRadius(16px);
        overflow: hidden;
        background-color: $bg-main-30;

        margin-top: 30px;

        .image_campaign {
          @include WidthHeight(100%, 100%);
          @include ObjectFit(cover);
        }
      }

      .boxContentCustom {
        margin-top: 30px;

        .boxListtabContent {
          display: flex;
          align-items: center;
          flex-direction: row;

          .itemTab {
            background-color: #fff;
            padding: 10px 14px;
            @include BorderRadius(46px);
            transition: all 0.2s linear;
            margin-right: 12px;
            font-weight: 500;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              background-color: $green-main;
              color: #fff;
            }
          }
        }

        .boxShowMainContent {
          background-color: $bg-main-30;
          @include BorderRadius(16px);
          padding: 20px;
          margin-top: 20px;
        }

        .boxInforRight {
          background-color: $bg-main-30;
          @include BorderRadius(16px);
          padding: 20px;
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }

          .titleName {
            @include FontSize(20);
            font-weight: 600;
            margin-bottom: 40px;
          }

          .boxMember {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .maxMember {
              font-weight: bold;
              color: $green-main;
              @include FontSize(22);
            }
          }

          .boxMoney {
            @include FontSize(14);
            margin-bottom: 14px;
            .currentMoney {
              font-size: 20px;
              color: $green-main;
              font-weight: bold;
            }
          }

          .boxInforCounter {
            .line {
              @include WidthHeight(100%, 6px);
              background-color: rgb(206, 206, 206, 0.8);
              @include BorderRadius(46px);
              position: relative;

              .lineInner {
                position: absolute;
                @include WidthHeight(80%, 6px);
                background-color: $green-main;
                @include BorderRadius(46px);
                top: 0;
                left: 0;
                transition: all 0.2s linear;
              }
            }

            .timeLineCounter {
              margin-top: 10px;

              .boxInnerContent {
                display: flex;
                flex-direction: column;

                .titleText {
                  color: rgba($color: #333, $alpha: 0.6);
                  @include FontSize(14);
                  margin-bottom: 8px;
                }

                .counterText {
                  font-weight: bold;
                }
              }
            }
          }

          .btnDonate {
            @include WidthHeight(100%, 40px);
            margin-top: 50px;
            border: none;
            background-color: $green-main;
            @include BorderRadius(46px);
            color: #fff;
            font-weight: 600;
            transition: all 0.2s linear;

            &:hover {
              box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
            }
          }

          .boxListMember {
            margin-bottom: 20px;

            .listMember {
              overflow: auto;
              height: 200px;

              .itemMember {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                }

                .boxLeft {
                  display: flex;
                  align-items: center;

                  .avatar {
                    @include WidthHeight(26px, 26px);
                    @include BorderRadius(50%);
                    @include ObjectFit(cover);
                    margin-right: 6px;
                  }

                  .name {
                    font-weight: 500;
                    @include FontSize(14);
                  }
                }

                .boxRight {
                  .date {
                    @include FontSize(14);
                  }
                }
              }
            }
          }

          .btnJoin {
            width: 100%;
            padding: 12px 0;
            border: none;
            @include BorderRadius(46px);
            background-color: $green-main;
            font-weight: 500;
            color: #fff;
            transition: all 0.2s linear;

            &:hover {
              box-shadow: 0 0 8px rgba($color: #000, $alpha: 0.2);
            }
          }
        }
      }
    }
    @include MaxWidth($width-tablet){
      .mainContentCampaign{
        padding-left: 10px;
        padding-right: 10px;
      }
      .nameCampaign{
        text-align: center
      }
    }  
  }
}

#ItemTabDesc {
  .titleText {
    @include FontSize(18);
    font-weight: 600;
    padding: 0 60px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $green-main;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .listInfor {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    .itemInfor {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .imgAvatar {
        @include WidthHeight(40px, 40px);
        @include BorderRadius(50%);
        @include ObjectFit(cover);
      }

      .name {
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }

  .boxDescription {
    .textDesc {
      @include FontSize(16);
      font-weight: 400;
      line-height: 1.4;
      color: rgba($color: #333, $alpha: 0.8);
    }
  }

  .boxOrganization {
    margin-top: 20px;
  }

  .boxContact {
    margin-top: 20px;
  }
}

#ItemTableDonate {
  .listMemberDonate {
    .itemMember {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }

      .boxInforMember {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .boxleft {
          .name {
            font-weight: 600;
            margin-bottom: 6px;
          }
          .mess {
            @include FontSize(14);
          }
        }

        .boxRight {
          .money {
            font-weight: bold;
            color: $green-main;
          }
        }
      }
    }
  }
}

#ItemListImage {
  .row-custom {
    .col-custom {
      margin-bottom: 20px;
    }
  }

  .imgDonate {
    @include WidthHeight(100%, auto);
    @include ObjectFit(cover);
    @include BorderRadius(10px);
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .popupImageDonate {
    position: fixed;
    z-index: 2px;
    background-color: rgba($color: #333, $alpha: 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;

    .boxShowImage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;

      .imageShowCurrent {
        @include WidthHeight(800px, 500px);
        @include BorderRadius(16px);
        @include ObjectFit(cover);
      }
    }
  }
}

.boxAnotherCampaign {
  margin-top: 50px;

  .titleText {
    margin-bottom: 20px;
    @include FontSize(24);
    font-weight: 600;
  }
}
@include MaxWidth($width-tablet){
  .boxAnotherCampaign{
    padding-left: 10px;
    // padding-right: 10px;
  }
}

.boxPopupPassWord {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #333, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .boxContentInner {
    padding: 30px 20px;
    background-color: #fff;
    @include BorderRadius(16px);
    width: 440px;
    overflow: hidden;
    position: relative;

    .title {
      @include FontSize(18);
      font-weight: 600;
      margin-bottom: 10px;
    }

    .descText {
      color: rgba($color: #333, $alpha: 0.8);
      line-height: 1.4;
      margin-bottom: 20px;
    }

    .btnSubmitPass {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      .inputPassword {
        padding-left: 10px;
        border: none;
        background-color: rgb(232, 240, 254);
        outline: none;
        color: rgba(51, 51, 51, 0.7);
        @include WidthHeight(100%, 40px);
        @include BorderRadius(8px);
        margin-right: 10px;

        &::placeholder {
          color: rgba(51, 51, 51, 0.7);
          font-weight: 500;
          font-style: italic;
        }
      }

      .btnSubmit {
        @include WidthHeight(100px, 40px);
        @include BorderRadius(8px);
        outline: none;
        border: none;
        @include FontSize(14);
        background-color: $green-main;
        color: #fff;
        font-weight: 600;
      }
    }

    .textError {
      color: red;
      margin-top: 8px;
    }
  }
}

.boxPopupCommit {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #333, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  .btnSubmitCommit {
    padding: 30px 20px;
    background-color: #fff;
    @include BorderRadius(16px);
    overflow: hidden;
    position: relative;
    max-width: 900px;

    .img_commit {
      @include WidthHeight(100%, 100%);
      @include ObjectFit(cover);
      @include BorderRadius(26px);
    }

    .boxContentInner {
      .title_text {
        font-weight: 600;
        @include FontSize(18);
        margin-bottom: 20px;
      }

      .listConditions {
        .itemCondition {
          margin-bottom: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }

          .ic_dot {
            @include WidthHeight(6px, 6px);
            margin-right: 10px;
          }

          .name_text {
            color: rgba($color: #000000, $alpha: 0.6);
            font-weight: 500;
          }
        }
      }

      .text_note {
        margin-top: 20px;

        span {
          color: #333;
          font-weight: bold;
          @include FontSize(16);
        }
        color: red;
      }

      .btnJoin {
        height: 40px;
        background-color: $green-main;
        @include BorderRadius(46px);
        outline: none;
        border: none;
        @include FontSize(16);
        font-weight: 600;
        color: #fff;
        padding: 0 14px;
        margin-top: 20px;
        transition: all 0.2s linear;
        &:hover {
          box-shadow: 0 0 6px rgba($color: #333, $alpha: 0.4);
        }
      }
    }
  }
}
