#AnimalViewNew {
  .bg__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &:before {
      content: "";
      position: absolute;
      width: 280px;
      height: 280px;
      background: linear-gradient(180deg, #00ff00 0%, #99ffcc 100%);
      filter: blur(120px);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      z-index: -1;
    }
  }

  .boxInnerMain {
    padding: 30px;

    .nameAnimal {
      text-transform: uppercase;
      font-weight: bold;
      @include FontSize(34);
      color: $green-main;
      padding: 0 60px;
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        @include WidthHeight(50px, 4px);
        @include BorderRadius(46px);
        background-color: $green-main;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .boxRowInnerMain {
      display: flex;
      @include WidthHeight(100%, 100%);

      .colInner__right {
        width: 300px;

        .boxInforAnimal {
          width: 100%;
          @include BorderRadius(16px);
          background-color: $bg-main-30;
          padding: 20px 16px;

          .textInfor {
            font-weight: 600;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }

            .content {
              font-weight: normal;
            }
          }
        }

        .boxInnerMap {
          @include WidthHeight(100%, 300px);
          @include BorderRadius(16px);
          margin-top: 20px;
          background-color: $bg-main-30;

          .map_img {
            @include BorderRadius(16px);
            @include WidthHeight(100%, 100%);
          }
        }
      }

      .colInner__middle {
        flex: 1;
      }

      .colInner__left {
        width: 300px;
        .swiper__custom {
          .swiper-wrapper {
            margin-top: 40px;
          }

          .slideCustom {
            .boxInforContent {
              .titleBox {
                font-weight: bold;
                @include FontSize(18);
                margin-bottom: 10px;
              }

              .content {
                color: rgba($color: #333, $alpha: 0.5);
                text-align: justify;
                font-weight: 600;
                line-height: 1.3;
              }
            }
          }

          .swiper-pagination {
            top: 0;
            bottom: unset;

            .swiper-pagination-bullet {
              @include WidthHeight(14px, 14px);
              transition: all 0.2s linear;

              &-active {
                background-color: $green-main;
              }
            }
          }
        }
      }
    }
  }
}
