#AdminAnimalView {
  .tabShowView {
    display: flex;
    align-items: center;

    .itemTab {
      padding: 8px 12px;
      @include BorderRadius(46px);
      margin-right: 20px;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.2s linear;
      cursor: pointer;

      &:hover {
        color: $green-main;
      }

      &.active {
        // border: 2px solid $green-main;
        background-color: $green-main;
        color: $black-admin;
      }
    }
  }

  .lineHr {
    max-width: 100%;
    width: 40%;
    margin: 30px auto;
    background-color: rgba($color: #fff, $alpha: 0.4);
  }
}

#AdminAnimalAdd {
  .animalBoxInner {
    .formAddAnimal {
      font-weight: 500;

      .boxImageAnimal {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        .box_avater {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          label {
            // @include WidthHeight(100%, 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            @include WidthHeight(80px, 80px);
            border: 1px dashed #333;

            .img__avater {
              @include WidthHeight(100%, 100%);
              object-fit: contain;
            }
          }

          .text {
            margin-top: 10px;
          }
        }
      }

      .boxListImageAnimal {
        margin-bottom: 20px;

        .boxText {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .ic_add {
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
              color: $green-main;
            }
          }
        }

        .listImage {
          display: flex;
          align-items: center;

          .itemImage {
            margin-right: 12px;
            @include WidthHeight(80px, 80px);
            @include BorderRadius(10px);
            margin-top: 12px;
            transition: all 0.2s linear;
            position: relative;

            &::before {
              content: "X";
              position: absolute;
              @include WidthHeight(20px, 20px);
              @include BorderRadius(50%);
              background-color: $green-main;
              color: #fff;
              top: -8px;
              right: -8px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s linear;
              visibility: hidden;
            }

            &:hover {
              border: 3px solid $green-main;
              &::before {
                visibility: visible;
              }
            }

            &:last-child {
              margin-right: 0;
            }

            .imgOfAnimal {
              @include WidthHeight(100%, 100%);
              @include ObjectFit(cover);
              @include BorderRadius(10px);
            }
          }
        }
      }

      .boxform {
        padding: 14px 30px;
        @include BorderRadius(46px);
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        .inputForm {
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
          color: white;
        }

        .areaForm {
          resize: none;
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
          color: white;
          height: 70px;
        }

        .selectOption {
          @include WidthHeight(100%, 100%);
          background-color: transparent;
          color: white;
          border: none;
          outline: none;
        }
      }

      .boxButtonHandle {
        margin-top: 30px;
        .btnSubmit {
          background-color: rgb(66, 198, 54);
          color: #fff;
          padding: 12px 24px;
          font-weight: 600;
          margin: 0 12px;
          transition: all 0.2s linear;
          cursor: pointer;
          @include BorderRadius(46px);

          &:disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
