// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "./base/reset";
@import "./base/variables";
@import "./base/base";
@import "./base/animation";
@import "./base/responsive";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "./layouts/default-frontend-1";
@import "./layouts/authen-default";
@import "./layouts/admin_default_1";

// ----------------------------------------------------------------------
// Conponent
// ----------------------------------------------------------------------
@import "./components/menu_default";
@import "./components/right_default";
@import "./components/activity-popup-class-animal";
@import "./components/notifi_view";
@import "./components/frontend/me/me_information";
@import "./components/frontend/me/me_authen_account";
@import "./components/frontend/campaign/another_campaign";
@import "./components/frontend/campaign/popup_campaign";
@import "./components/frontend/can_be_done";
@import "./components/frontend/item_animal";
@import "./components/admin/item-blog";
@import "./components/admin/campaign_show_quick";
// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "./pages/auth/login";
@import "./pages/auth/register";
@import "./pages/frontend/me/me_page";
@import "./pages/frontend/home_page";
@import "./pages/frontend/blog_page";
@import "./pages/frontend/actives";
@import "./pages/frontend/begin-start";
@import "./pages/frontend/report";
@import "./pages/frontend/game/FlipCard";
@import "./pages/frontend/detail_blog";
@import "./pages/frontend/event_page";
@import "./pages/frontend/page_not_found";
@import "./pages/frontend/campaign/condition_campaign";
@import "./pages/frontend/campaign/create_campain";
@import "./pages/frontend/campaign/detail_campaign";
@import "./pages/frontend/donate_view";
@import "./pages/frontend/chat/main_group_chat";
@import "./pages/frontend/animal_detail";
@import "./pages/frontend/manager_campaign";
@import "./pages/admin/blogs";
@import "./pages/admin/authen_account";
@import "./pages/admin/manager_animal";
@import "./pages/admin/campaign";
@import "./pages/admin/admin_donate";

// ----------------------------------------------------------------------
// Global
// ----------------------------------------------------------------------
@import "./base/global";
